<!DOCTYPE html>

<html lang="en">
<head>
    <title>UNIX-ify Quiz</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
     <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-vivid.css">
     <link rel="stylesheet" type="text/css" href="css/unix.css">
</head>

<body>

<div id="container" ng-app="unixApp" ng-controller="quizController">
        <!--Navigation bar-->
                <nav class="navbar navbar-default w3-top w3-container">
                  <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#unixNav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                      <img src="images/unixify.png" alt="unixify"/>
                    </div>
                    <div class="collapse navbar-collapse" id="unixNav">
                      <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="work_files.html">Files</a></li>
                        <li><a href="directory_commands.html">Directories</a></li>
                        <li><a href="keeping_tabs.html">Keeping Tabs</a></li>
                        <li><a href="quiz.html">Unix Quiz</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
                
<!--Content section-->

        <div id="content">
            <form ng-submit="submitQuiz()" novalidate>
                <!--<div class="form-group" ng-repeat="question in questions">
                    <label for="{{question.id}}">{{question.label}}</label>
                    <input type="text" class="form-control" id="{{question.id}}">
                </div>-->
                <div class="radio" ng-repeat="question in questions">
                    <h4>{{question.label}}</h4>
                    <label ng-repeat="answer in question.answers"><input type="radio" name="{{question.name}}"/>{{answer}}</label><br/>
                </div>
                <button class="btn btn-default" type="submit">Submit Answers</button>
            </form>
        </div>

<!--Footer section-->
     <footer class="w3-container footer">
        <p>UNIX-ify site created by GTC</p>
    </footer>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>            
    <script type="text/javascript" src="js/unixscript.js"></script>
</body>
</html>
